body {
  display: none; }

header.wrap p {
  text-align: justify; }
header.wrap h1 {
  font-family: Dosis;
  text-align: center;
  position: relative;
  line-height: 0.8em;
  margin-top: 0;
  height: 100%; }
header.wrap a {
  display: inline-block;
  margin-bottom: 10px; }
