<div class="content container">
  <div id="banner">
    <div id="image-outlines">
        <span id="banner-photo-1"></span>
        <span id="banner-photo-2"></span>
        <img src="assets/copy/james.png">
    </div>
    <div id="banner-lable"></div>
  </div>
  <h1 style="text-align: center;">James Khatiblou</h1>
  <header class="wrap lead with-mobile-padding">
    <p>
      <strong>Web programmer based in Newport Beach, CA with years of freelance, studio, and professional experience. I currently working in the mobile web programming field to gain experiential knowledge and evolve my skills as a web developer.</strong>
    </p>
    <h2>Yours Truly</h2>
    <p>  
    I have a passion for designing detailed, creative and modern websites, graphics, and interesting user interfaces. I'm always keeping an eye on the latest trends in technology as the industry is constantly evolving. I have been working as web developer (freelance, studio, professional) for over 5 years and my skills encompass many diverse aspects of web programming, UI, graphic design, analytics, and hardware/software knowledge.
    </p>
    <p>
    <strong>Development:</strong> Experience building complete front end responsive web layouts for user content driven applications (photos, check-ins, and videos). Responsive Layouts. API integrations. Ecommerce. Behavior based tracking.
    </p>
    <p>
    <strong>Graphic:</strong> Created static and animated designs for commercial and private companies for mock-up, pre-press, publications, and advertising campaigns.
    </p>
    <p>
      <strong>Computer Software and Technology:</strong> OS X, Windows, VIM, Sublime Text 2, Photoshop, Illustrator, Flash, Dreamweaver, InDesign, Acrobat, Final Cut Pro, MS Office, Coda, AptanaStudio3, Eclipse, Wordpress, MAMP.
    </p>
    <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-star"></i>Launch demo modal</a>
   </header>
  </div>
  <div class="my-works">
    <div class="container lead with-mobile-padding">
      <h2>My Works</h2> 
      <div class="row">
        <div class="span12">
          <div id="rocklive-button" style="width: 100px; height: 100px; background-color: blue;">rocklive</div>
          <h3>RockLive iPhone app and Web app</h3>
          <p>
            Social media platfor for sharing photos, videos, and locations.
          </p>
        </div>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-location.png"><img class="span2" src="assets/works/rocklive/desk-location.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-photo.png"><img class="span2" src="assets/works/rocklive/desk-photo.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-photo2.png"><img class="span2" src="assets/works/rocklive/desk-photo2.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-video.png"><img class="span2" src="assets/works/rocklive/desk-video.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-video2.png"><img class="span2" src="assets/works/rocklive/desk-video2.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/facebook-desk-location.png"><img class="span2" src="assets/works/rocklive/facebook-desk-location.png" alt=""></a>
      </div>
      <div class="row">
        <h3 class="span12">Websites</h3>
        <a class="fresco" href="assets/works/512.png"><img class="span2" src="assets/works/512.png" alt=""></a>
        <img class="span2" src="assets/works/512.png" alt="">
        <img class="span2" src="assets/works/512.png" alt="">
        <img class="span2" src="assets/works/512.png" alt="">
        <img class="span2" src="assets/works/512.png" alt="">
        <img class="span2" src="assets/works/512.png" alt="">
      </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary"><i class="icon-star"></i>Save changes</button>
  </div>
</div>
<aside id="sitemeta">
  <nav id="nav" role="navigation">
    <a class="home-link" href="http://jamesmk.com/">jamesmk.com</a>
    <a id="close-nav" href="#"><i class="icon-remove"></i><span>Back to top</span></a>
    <ul class="nav-menu">
        <li><a href="#yours-truly"><i class="icon-camera-retro"></i>Yours Truly</a></li>
        <li><a href="http://jimramsden.com/design"><i class="icon-lightbulb"></i>My Works</a></li>      
        <li><a href="http://jimramsden.com/about"><i class="icon-profile"></i>Profile</a></li>
    </ul>
  </nav>        
</aside>
<footer class="pull-right">
  ©2013&nbsp;<a href="/">James Khatiblou</a>
</footer>