<div class="content container">
  <div id="banner">
    <div id="image-outlines">
        <span id="banner-photo-1"></span>
        <span id="banner-photo-2"></span>
        <img src="assets/copy/james.png">
    </div>
    <div id="banner-lable"></div>
  </div>
  <h1 style="text-align: center;">James Khatiblou</h1>
  <header class="wrap lead with-mobile-padding">
    <p>
      <strong>Web programmer based in Newport Beach, CA with years of freelance, studio, and professional experience. I currently working in the mobile web programming field to make something impressive for the interwebs.</strong>
    </p>

    <div class="row">
      <ul id="links">
        <li><a id="follow" class="span3 btn" href="http://twitter.com/jameskhat" target="_blank">Follow</a></li>
        <li><a href="#about" class="span3 btn"  role="button" class="btn" data-toggle="modal">About this site</a></li>
      </ul>
    </div>

    <hr>
    <h2 name="yours-truly">Yours Truly</h2>
    <p>  
    I have a passion for designing detailed, creative and modern websites, graphics, and interesting user interfaces. I'm always keeping an eye on the latest trends in technology as the industry is constantly evolving. I have been working as web developer (freelance, studio, professional) for over 5 years and my skills encompass many diverse aspects of web programming, UI, graphic design, analytics, and hardware/software knowledge.
    </p>
        <div>Development:</div>
          <p>
            Experience building complete front end responsive web layouts for user content driven applications (photos, check-ins, and videos). API integrations. Ecommerce. Behavior based tracking. I am currently learning ruby on rails. 
          </p>
        <div>Graphic:</div>
          <p>
            Created static and animated designs for commercial and private companies for mock-up, pre-press, publications, and advertising campaigns.
          </p>
        <div>Computer Software and Technology:</div>
          <p>
            OS X, Windows, VIM, Sublime Text 2, Photoshop, Illustrator, Flash, Dreamweaver, InDesign, Acrobat, Final Cut Pro, MS Office, Coda, AptanaStudio3, Eclipse, Wordpress, MAMP.
          </p>
        </div>
      <hr>
  </header>
</div>
  <div class="my-works" name="my-works">
    <div class="container lead with-mobile-padding">
      <h2>My Works</h2> 
      <div class="row">
        <div class="span12">
          <h3>RockLive iPhone app and Web app</h3>
          <p>
            Social media platfor for sharing photos, videos, and locations. <a href="http://rock.li/app" target="_blank">rock.li/app</a>
          </p>
        </div>
      </div>
      <div id="gal" class="row-fluid">
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/rocklive-iphone.png">
          <img src="assets/works/rocklive/rocklive-iphone.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-photo2.png">
          <img src="assets/works/rocklive/desk-photo2.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-video2.png">
          <img src="assets/works/rocklive/desk-video2.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/desk-location.png">
          <img src="assets/works/rocklive/desk-location.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/safari-photo2.png">
          <img src="assets/works/rocklive/safari-photo2.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/safari-video2.png">
          <img src="assets/works/rocklive/safari-video2.png" alt=""></a>
      </div>
      <div id="gal" class="row-fluid">
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/safari-location.png">
          <img src="assets/works/rocklive/safari-location.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/twitter-desk-pic.png">
          <img src="assets/works/rocklive/twitter-desk-pic.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/twitter-desk-video.png">
          <img src="assets/works/rocklive/twitter-desk-video.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/facebook-desk-photo2.png">
          <img src="assets/works/rocklive/facebook-desk-photo2.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/facebook-desk-location.png">
          <img src="assets/works/rocklive/facebook-desk-location.png" alt=""></a>
        <a class="fresco" data-fresco-group="rocklive" href="assets/works/rocklive/safari-location.png">
          <img src="assets/works/rocklive/safari-location.png" alt=""></a>
      </div>
      <h3>Websites</h3>
      <div id="gal" class="row-fluid">
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/1.png">
          <img src="assets/works/websites/1.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/2.png">
          <img src="assets/works/websites/2.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/3.png">
          <img src="assets/works/websites/3.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/4.png">
          <img src="assets/works/websites/4.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/5.png">
          <img src="assets/works/websites/5.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/6.png">
          <img src="assets/works/websites/6.png" alt=""></a>
      </div>
      <div id="gal" class="row-fluid">
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/7.png">
          <img src="assets/works/websites/7.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/8.png">
          <img src="assets/works/websites/8.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/9.png">
          <img src="assets/works/websites/9.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/10.png">
          <img src="assets/works/websites/10.png" alt=""></a>
        <a class="fresco" data-fresco-group="websites" href="assets/works/websites/11.png">
          <img src="assets/works/websites/11.png" alt=""></a>
      </div>
      <h3>Graphic and Photo</h3>
      <div id="gal" class="row-fluid">
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/1.png">
          <img src="assets/works/graphic/thmb/1.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/2.png">
          <img src="assets/works/graphic/thmb/2.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/3.png">
          <img src="assets/works/graphic/thmb/3.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/4.png">
          <img src="assets/works/graphic/thmb/4.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/5.png">
          <img src="assets/works/graphic/thmb/5.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/6.png">
          <img src="assets/works/graphic/thmb/6.png" alt=""></a>
      </div>
      <div id="gal" class="row-fluid">
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/7.png">
          <img src="assets/works/graphic/thmb/7.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/8.png">
          <img src="assets/works/graphic/thmb/8.png" alt=""></a>
        <a class="fresco" data-fresco-group="graphic" href="assets/works/graphic/9.png">
          <img src="assets/works/graphic/thmb/9.png" alt=""></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="half left">
        <h3>Likes:</h3>
        <ul>
          <li>Programming</li>
          <li>Physics</li>
          <li>jellybeans</li>
        </ul> 
      </div>
        <div class="half right">
          <h3>Dislikes:</h3>
          <ul>
            <li>Haters</li>
            <li>Fakers</li>
            <li>Meanies</li>
          </ul>
        </div>
    </div>

    <hr>

    <div class="contact row-fluid">
      <ul>
        <li><a href="">email</a></li>
        <li><a href="">twitter</a></li>
        <li><a href="">skype</a></li>
        <li><a href="">github</a></li>
      </ul>
    </div>
</div> <!-- /container -->
<!-- Modal -->
<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">JamesMK</h3>
  </div>
  <div class="modal-body">
    <p>
      JamesMK.com is a project to show and explain what I love to do and in the process learn a new technology. I am constantly updating and chaning things to play around with new tech stuff. 
    </p>
    <p>
      Now for the technical aspects... This is an app written on the Rails 3.2.12 platform which is a MVC framework in collaboration with twitter-bootstrap UI framework. Twitter bootstrap is encorporated with SASS precompiled and uploaded as a static minified css import. I use postgreSQL for the database because I am hosting on Heroku. For the markup I use HTML5 boilerplate code along with modernizr.js for cross browser compatability. 
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<aside id="sitemeta">
  <nav id="nav" role="navigation">
    <a class="home-link" href="http://jamesmk.com/">jamesmk</a>
    <a id="close-nav" href="#"><i class="icon-remove"></i><span>Back to top</span></a>
    <ul class="nav-menu">
        <li><a href="#yours-truly"><i class="icon-camera-retro"></i>Yours Truly</a></li>
        <li><a href="#my-works"><i class="icon-lightbulb"></i>My Works</a></li>      
        <li><a href="#profile"><i class="icon-profile"></i>Profile</a></li>
    </ul>
  </nav>        
</aside>
<footer class="pull-right">
  ©2013&nbsp;<a href="/">James Khatiblou</a>
</footer>