//welcome.css.scss
body {display: none; }

.container {max-width: 700px;}

#banner {
	#awesome-photos {
	max-width: 700px;
	display: block;
	background: #333333;
	border: 0.75em solid #333333;
	overflow: hidden;
	position: relative;
	border-radius: .25em;
	height: 100%;
	width: 100%;
	margin: 0;
	border-width: .5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
		img {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		}
	}
}
header.wrap {
	p {text-align: justify;}
	h1 {font-family: Dosis; text-align: center;position:relative; line-height: 1em; height: 100%; margin: 0; padding: 0;}
	a {display: inline-block;margin-bottom: 10px;}
}